<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>97852BBE709A4616206D385E1E70A9A4</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
